# Load

In [5]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import Ecocyc_Parse as ep

pd.set_option('max_columns', 99)

%matplotlib inline

In [6]:
ann_file = "HelpFiles/AnnConversion/ncbi_rel606_ecyc_k12_ann_matching_final.csv"
rg_synonym_file = "HelpFiles/RegulonDB/object_synonym.txt"

In [7]:
ann = pd.read_csv(ann_file, header = 0, index_col=0)
rg_synonym = pd.read_csv(rg_synonym_file, header = None, sep="\t", comment="#")

In [8]:
ann[["rel606_gene_id", "BLATTNER-ID"]].head(3)

  rel606_gene_id BLATTNER-ID
0    ECB_RS00005       b0001
1    ECB_RS00010       b0002
2    ECB_RS00015       b0003

In [9]:
rg_synonym.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [10]:
rg_synonym.columns = ["ECK_ID", "Synonym", "no1", "no2"]
rg_synonym.iloc[:,0:2].head(3)

         ECK_ID  Synonym
0  ECK120000001    b4053
1  ECK120000001  ECK4045
2  ECK120000001     alr5

# Merge

In [12]:
regulon_gene_ann = pd.merge(
    left = ann[["rel606_gene_id", "BLATTNER-ID"]],
    right = rg_synonym.iloc[:,0:2],
    how = "left",
    left_on = "BLATTNER-ID",
    right_on = "Synonym"
)
regulon_gene_ann.drop("Synonym", axis = 1, inplace = True)

In [13]:
regulon_gene_ann.to_csv("2_RegulonAnn_ECB_b_ECK.csv")